@inherits TestContext

@code {
    [Fact]
    public void Search_Should_Display_Query_Correctly()
    {
        var component = Render(@<Search Query="test" />);

        component.MarkupMatches(@<text>
            <h3>Search</h3>
            <p>You searched <strong>test</strong></p>
        </text>);
    }
}
